:root {
    --primary-color: purple;
    --secondary-color: rgb(97, 19, 241);
    --tertiary-color: black;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
  }
  /* HEADER / NAV BAR STYLES START */

header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 35px;
    background-color: var(--primary-color);
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color:var(--secondary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 25px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background-color: lightskyblue;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

/*Hero Style Starts*/

.hero {
    background-image: url('../images/hero-background.jpg');
    height: 600px;
    background-size: cover;
    background-position: 80% center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hero-form {
   color: var(--primary-color);
   margin: 0 auto;
   text-align: right;
}

/*Hero Style Ends*/

 /* About Me Style Starts*/
.flew-row p {
  line-height: 1.8;
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 25px;
}

/*About Me Style Ends*/
/* Project Section*/
.Projects {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 50%;
}
.Project {
  padding: 15px 50px;
  flex-basis: 80%;
  position: relative;
}
.Project-1 {
  flex-basis: 80%;
}
.Project img {
  width: 100%;
  border: 5px solid var(--secondary-color);
  opacity: 0.5;
}
.Project img:hover {
  opacity: 1;
}
.Project div {
  background-color: beige;
  padding: 5px 10px 5px 20px;
  position: absolute;
  bottom: 50px;
  left:35px;
}
.Project h3 {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.5;
}
.Project h4 {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.5;
}
   
/*Contact Me Style Starts*/
  .contact-me h2 {
    color: var(--primary-color);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

.contacts {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.contacts a {
  font-size: 20px;
  font-weight: bold;
  color: var(--tertiary-color);
  border-bottom: 5px solid var(--secondary-color);
}
  
 
 

  /* FOOTER STYLES START */
footer {
    background-color: lightblue;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
  }
  
 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2 {
      text-align: center;
      width: 100%;
    }
  
    .hero, .hero-form {
      width: 100%;
    }
 
  
  }
  