:root {
    --primary-color: purple;
    --secondary-color: blue; 
    --tertiary-color: black;
  }

* {
    box-sizing: border-box;
  }

  body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: purple;
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

 /* About Me Style Starts*/
 .about-me p {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    font-size: 25px;

  }

  .About-Me img {
      max-height: 200px;
  }
  
/*About Me Style Ends*/

section {
    padding: 60px;
  }

.hero {
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%;
    padding: 100px;
  }

  .section-title {
    font-size: 38px;
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);