:root {
    --primary-color: purple;
    --secondary-color: blue; 
    --tertiary-color: black;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
   }
  /* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    display: flex;
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: purple;
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  section {
    padding: 100px;
  }

 /* About Me Style Starts*/
 .about-me {
     text-align: left;
 }
 .about-me p {
    color: var(--tertiary-color);
    width: 100%;
    font-size: 25px;
    margin: 0 auto;
 }


/*About Me Style Ends*/

/*Hero Style Starts*/

.hero {
    background-image: url('../images/hero-rx.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    position:sticky;
    top: 100px;
    right: 120px;
    color: purple;
    border: 3px solid black;
    background-color:lightskyblue;
    padding: 30px;
    border-radius: 14px;
}

/*Hero Style Ends*/

  .section-title {
    font-size: 38px;
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /*Flex Containers*/
  .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      font-size: 25px;
  }
  .flex-item{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 40px;
      height: auto;
      border: 3px solid black;
      border-radius: 14px;
      font-size: 20px;
      font-weight: lighter;
  }

  .flex-item1 { 
      background-image: url('../images/sdmpharmacy.jpg');
      background-size: cover;
      background-position: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      border-radius: 10px;
      border: 3px solid black;
      font-size: 20px;
      font-weight: bold;
      padding: 40px 0;
      height: 300px;

  }
  .flex-item1 h3, .flex-item2 h3, .flex-item3 h3, .flex-item4 h3, .flex-item5 h3 {
      color: blueviolet;
      background-color: blanchedalmond;
      display: flex;
      text-align: center;
      border: 3px solid black;
      padding: 15px;
      border-radius: 10px;
  }

  .flex-item2 {
    background-image: url('../images/Sickkids\ VS.png');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    height: 300px;
  }

  .flex-item3 {
    background-image: url('../images/run-buddy.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    height: 300px;
  }

  .flex-item4 {
    background-image: url('../images/search-engine-optimization.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    height: 300px;
  }
  .flex-item5 {
    background-image: url('../images/Logo2.PNG');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    height: 300px;
  }

/*Contact Me Style Starts*/
  .contact-me h2 {
    color: var(--primary-color);
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: white;
  }

  .contact-info h3 {
    color: var(--tertiary-color);
    font-size: 15px;
  }
  
  .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  /*Utilities*/
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

  /* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
  }
  
 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2 {
      text-align: center;
      width: 100%;
    }
  
    .hero, .hero-form {
      width: 100%;
    }
 
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }

    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
}
    